{% extends 'base.html' %}
{% block title %}Construction planner{% endblock %}
{% block body %}
    	<!-- start home -->
    	<section id="home" style="background: url('/static/images/image.png') no-repeat;background-size: cover;">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-offset-2 col-md-8">
    					<h1 class="wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">We make <span>Designs</span> for your awesome <span>Homes </span></h1>
    					<div class="element" style="color: rgb(13, 145, 197);">
                            <div class="sub-element">Hello, Users</div>
                            <div class="sub-element">Awesome Design is provided by construction planner for everyone</div>
                            <div class="sub-element">Register, login and apply this awesome designs for your homes</div>
                        </div>
    					<a data-scroll href="#about" class="btn btn-default wow fadeInUp" data-wow-offset="50" data-wow-delay="0.6s">GET STARTED</a>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end home -->
{% endblock %}